
<div id="clan-details-container">
	<div *ngIf="clan">
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<table>
				<tr>
					<td>
						<label for="field-name">Name:</label>
					</td>
					<td>
						<input formControlName="name" id="field-name" required />
						<cw-form-field-is-required [element]="form.controls.name" fieldname="Name"></cw-form-field-is-required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="field-shortname">Short name:</label>
					</td>
					<td>
						<input formControlName="shortname" id="field-shortname" required />
						<cw-form-field-is-required [element]="form.controls.shortname" fieldname="Short name"></cw-form-field-is-required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="field-country">Country:</label>
					</td>
					<td>
						<select formControlName="country" id="field-country" required>
							<option *ngFor="let country of countries" 
											[ngValue]="country"
											[attr.selected]="clan.country === country">
								{{country.name}}
							</option>
						</select>
						<cw-form-field-is-required [element]="form.controls.country" fieldname="Country"></cw-form-field-is-required>
					</td>
				</tr>
				<tr>
					<td>
						Players:
					</td>
					<td>
						<ul id="clan-players-list">
							<li *ngFor="let player of players">  
								<a routerLink="/players/{{player.id}}">{{player.nickname}}</a>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit" [disabled]="!form.valid">Save</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>