
<edit-entity-template title="Clans">
	<edit-entity-template-list>
		<edit-entity-template-list-item *ngFor="let clan of clans" 
										[entity]="clan">
			
			<edit-entity-template-column type="flag">
				<img [src]="clan.country | countryToFlagPath" />
			</edit-entity-template-column>
			<edit-entity-template-column type="primary">
				{{clan.name}}
			</edit-entity-template-column>
			<edit-entity-template-column type="aside">
				{{clan.shortname}} 
			</edit-entity-template-column>
		</edit-entity-template-list-item>
	</edit-entity-template-list>
	<edit-entity-template-details>
        <cw-clan-details [clan]="selectedClan"></cw-clan-details> 
	</edit-entity-template-details>
</edit-entity-template>
