
<div id="clans-list-container">
	<h2>Clans</h2>
	
	<div class="view-columns clearfix">
		<div class="col-1">
			<div id="clans-container" class="items-container">
				<div *ngFor="let clan of clans" 
						 class="item"
						 [class.active]="clan === selectedClan"
						 (click)="onSelect(clan)">

					<div class="col-flag">
						<img [src]="clan.country | countryToFlagPath" />
					</div>
					<div class='col-primary'>
						{{clan.name}}
					</div>
					<div class='col-aside'>
						{{clan.shortname}} 
					</div>
				</div>
			</div>
		</div>
		<div class="col-2">
			<cw-clan-details [clan]="selectedClan"></cw-clan-details> 
		</div>
	</div>
</div>