
/* Variables */

/* Not used */
$maxSiteWidth: 900px;

$fontPrimary: Arial, sans-serif;
$fontSecondary: capture_itregular, Arial, sans-serif;

$fontSize: 13px;

$colorPrimary: #CD0000;
$colorSecondary: #FF7400;
$colorThirdly: #FFD14A;

$colorBlack: #000;
$colorWhite: #EDEDED;

$colorLink: $colorWhite;
$colorHighlight: $colorThirdly;

/* Mixins */

@mixin clearfix {
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}

/* Placeholders */

%highlightHover {
    &:hover, &:active {
        color: $colorHighlight;
    }
}

%button {
    @extend %highlightHover;
    
	cursor: pointer;
    user-select: none;
    text-decoration: none !important;

    &:hover {
        opacity: 0.8;
    }
}