
/* Variables */

$mainFonts: Arial, "Times New Roman", sans-serif;
$mainFontSize: 13px;

$maxSiteWidth: 900px;

$colorPrimary: #CD0000;
$colorSecondary: #FF7400;
$colorThirdly: #FFD14A;

$colorBlack: #000;
$colorWhite: #EDEDED;

$colorLink: $colorWhite;

/** Mixins */

@mixin clearfix {
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}