@import '../../shared/scss/base';

$borderColor: darken($colorPrimary, 20%);

nav {
    ul {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-flex;
        list-style: none;

        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
    }

    a {
        @extend %button;

        padding: 0.3rem 0.4rem;
        margin-right: 0.5rem;
        color: $colorWhite;
        background-color: $colorPrimary;
        box-shadow: $borderColor 1px 1px 2px;
        border: $borderColor 1px solid;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}