
<edit-entity-template title="Clanwars">
	<edit-entity-template-list>
		<edit-entity-template-list-item *ngFor="let clanwar of clanwars" 
                                        [entity]="clanwar">
			<edit-entity-template-column type="primary">
                <img [src]="clanwar.clan1.country | countryToFlagPath" /> 
                {{clanwar.clan1.name}} 
                vs 
                {{clanwar.clan2.name}} 
                <img [src]="clanwar.clan2.country | countryToFlagPath" />
			</edit-entity-template-column>
		</edit-entity-template-list-item>
	</edit-entity-template-list>
	<edit-entity-template-details>
			<cw-clanwar-details [clanwar]="selectedClanwar"></cw-clanwar-details> 
	</edit-entity-template-details>
</edit-entity-template>
