
<edit-entity-template title="Clanwars">
	<edit-entity-template-list>
		<edit-entity-template-list-item *ngFor="let clanwar of clanwars" [item]="clanwar">
			<edit-entity-template-column type="primary">
				{{clanwar.clan1.name}} vs {{clanwar.clan2.name}}
			</edit-entity-template-column>
		</edit-entity-template-list-item>
	</edit-entity-template-list>
	<edit-entity-template-details>
			<cw-clanwar-details [clanwar]="selectedClanwar"></cw-clanwar-details> 
	</edit-entity-template-details>
</edit-entity-template>
