
<div id="clanwars-list-container">
	<h2>Clanwars</h2>
	
	<div class="view-columns clearfix">
		<div class="col-1">
			<div id="clanwars-container" class="items-container">
				<div *ngFor="let clanwar of clanwars" 
						 class="item"
						 [class.active]="clanwar === selectedClanwar"
						 (click)="onSelect(clanwar)">

					<div class='col-primary'>
						{{clanwar.clan1.name}} vs {{clanwar.clan2.name}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-2">
			<cw-clanwar-details [clanwar]="selectedClanwar"></cw-clanwar-details> 
		</div>
	</div>
</div>