<div>
	<span>
		<cw-match-side-as-form-fields [match]="match" [matchSide]="match.side1" sideNum="1"></cw-match-side-as-form-fields>
	</span>
	<span>
		<input type="number" name="matches[{{match.id}}][side1][score]" [ngModel]="match.side1.score" />
	</span>
	:
	<span>
		<input type="number" name="matches[{{match.id}}][side2][score]" [ngModel]="match.side2.score" />
	</span>
	<span>
		<cw-match-side-as-form-fields [match]="match" [matchSide]="match.side2" sideNum="2"></cw-match-side-as-form-fields>
	</span>
</div>