
<span class="score-container">
	<input type="number"
				 [value]="matchSide.score"
				 (change)="onChangeScore($event.target.value)" />
</span>

<span class="singles-container" *ngIf="singlesMatchSide">
	
	<select setInitialSelectedOption (change)="onChangeSinglesPlayer($event.target.value)">
		<option *ngFor="let player of players" 
						[ngValue]="player"
						[attr.selected]="singlesMatchSide.player === player">
			{{player.nickname}}
		</option>
	</select>
	
</span>

<span class="doubles-container" *ngIf="doublesMatchSide">
	
	<select setInitialSelectedOption (change)="onChangeDoublesPlayer(1, $event.target.value)">
		<option *ngFor="let player of players" 
						[ngValue]="player"
						[attr.selected]="doublesMatchSide.player1 === player">
			{{player.nickname}}
		</option>
	</select>
	
	/ 
	
	<select setInitialSelectedOption (change)="onChangeDoublesPlayer(2, $event.target.value)">
		<option *ngFor="let player of players" 
						[ngValue]="player"
						[attr.selected]="doublesMatchSide.player2 === player">
			{{player.nickname}}
		</option>
	</select>
	
</span>
	