
<div id="player-details-container">
	<div *ngIf="player">
		<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
			<table>
				<tr>
					<td>
						<label for="field-nickname">Nickname: </label>
					</td>
					<td>
						<input formControlName="nickname" id="field-nickname" required />
						<cw-form-field-is-required [element]="form.controls.nickname" fieldname="Nickname"></cw-form-field-is-required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="field-firstname">First name: </label>
					</td>
					<td>
						<input formControlName="firstname"  id="field-firstname" required />
						<cw-form-field-is-required [element]="form.controls.firstname" fieldname="First name"></cw-form-field-is-required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="field-surname">Surname: </label>
					</td>
					<td>
						<input formControlName="lastname" id="field-surname" required />
						<cw-form-field-is-required [element]="form.controls.lastname" fieldname="Surname"></cw-form-field-is-required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="field-race">Race: </label>
					</td>
					<td>
						<select formControlName="race" id="field-race" required>
							<option *ngFor="let race of races" 
									[ngValue]="race">
								{{race.name}}
							</option>
						</select>
						<cw-form-field-is-required [element]="form.controls.race" fieldname="Race"></cw-form-field-is-required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="field-clan">Clan: </label>
					</td>
					<td>
						<select formControlName="clan" id="field-clan" required>
							<option *ngFor="let clan of clans" 
									[ngValue]="clan">
								{{clan.name}}
							</option>
						</select>
						<cw-form-field-is-required [element]="form.controls.clan" fieldname="Clan"></cw-form-field-is-required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="field-country">Country:</label>
					</td>
					<td>
						<select formControlName="country" id="field-country" required>
							<option *ngFor="let country of countries" 
									[ngValue]="country">
								{{country.name}}
							</option>
						</select>
						<cw-form-field-is-required [element]="form.controls.country" fieldname="Country"></cw-form-field-is-required>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit" [disabled]="!form.valid">Save</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>