
<edit-entity-template title="Players">
	<edit-entity-template-list>
		<edit-entity-template-list-item *ngFor="let player of players" 
										[item]="player">
			
			<edit-entity-template-column type="flag">
				<img [src]="player.country | countryToFlagPath" />
			</edit-entity-template-column>
			<edit-entity-template-column type="race">
				<img [src]="player.race | raceToIconPath" />
			</edit-entity-template-column>
			<edit-entity-template-column type="primary">
				{{player.nickname}}
			</edit-entity-template-column>
			<edit-entity-template-column type="aside">
				{{player.clan.shortname}} 
			</edit-entity-template-column>
		</edit-entity-template-list-item>
	</edit-entity-template-list>
	<edit-entity-template-details>
		<cw-player-details [player]="selectedPlayer"></cw-player-details> 
	</edit-entity-template-details>
</edit-entity-template>
