@import 'shared/scss/base';

:host {
	display: flex;
    flex-direction: column;

	margin: 0 auto;
    height: 100vh;
    
    background-color: $colorBlack;
}

#header-wrapper, #content-wrapper {
	padding: 15px 20px 35px;
}

#header-wrapper {
    border-bottom: 1px solid $colorPrimary;
}

#content-wrapper {
    flex: 1 0 auto;
    background-color: lighten($colorBlack, 3%);
}
