
@import 'shared/sass/partials/_base.scss';

/* Variables */

$mainFonts: Arial, "Times New Roman", sans-serif;
$mainFontSize: 13px;
$linkColor: #456CFF;

$maxSiteWidth: 900px;

/* Elements */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: $mainFontSize;
}

body,
textarea,
select,
input {
	font-family: $mainFonts;
}

textarea,
select,
input {
	font-size: 1em;
	padding: 3px 4px;
}

textarea {
	overflow: auto;
	height: 3.5em;
}

button {
	cursor: pointer;
}

a {
	color: $linkColor;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	vertical-align: bottom;
	border: 0;
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0;
}		

table {
	th, td {
		vertical-align: top;
		text-align: left;
		padding: 4px;
	}
}

/* Main */

#wrapper,
#app-container {
	padding: 15px 20px 35px;
	
	margin: 0 auto;
	max-width: $maxSiteWidth;
}

@import 'shared/sass/partials/_generic.scss';
@import 'shared/sass/partials/_edit-entity-template.scss';
@import 'shared/sass/partials/_feedback.scss';
@import 'shared/sass/partials/_form-validation.scss';