
.edit-entity-template {
	h2 {
		text-align: center;
	}

	>.columns {
		@include clearfix;
		
		>.col-1,
		>.col-2 {
			float: left;
		}
		
		>.col-1 {
			width: 30%;
			margin-left: 2%;
			border-right: 1px solid #ddd;
			
			>.items-container {

				>.item {
					cursor: pointer;
					padding: 5px;
				}

				>.item.active {
					background: #D9E4FF;
				}
			}
		}
		
		>.col-2 {
			width: 68%;
			padding-left: 2%;
		}
	}
}



/*
$headerBottomPadding: 20px; 

#header {
	position: relative;
	
	padding: $headerBottomPadding 30px;
	border-bottom: 1px solid #B3B3B3;
	
	@include clearfix;
}

#siteTitle {
	float: left;
	
	h1 {
		margin: 0;
	}
}

#userTopMenu {
	position: absolute;
	
	right: 0;
	bottom: $headerBottomPadding;
	
	>* {
		display: inline-block;
	}
}*/