@import 'app/shared/scss/base';
@import 'app/shared/scss/fonts';
@import 'app/shared/scss/notifications';
@import 'app/shared/scss/form-validation';
@import 'app/shared/scss/common';

/* Elements */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: $fontSize;
    color: $colorWhite;
    line-height: 1.1rem;
}

body, textarea, select, input {
	font-family: $fontPrimary;
}

textarea, select, input {
	font-size: 1em;
	padding: 3px 4px;
}

input[type="number"] {
	width: 3rem;
}

textarea {
	overflow: auto;
	height: 3.5em;
}

button, .button {
    @extend %button;
}

a {
    @extend %highlightHover;

	color: $colorLink;
	text-decoration: underline;

    /* commented out because :visited rules take presedence */
    /*
    &:visited {
        color: darken($colorLink, 10%);
    }
    */
}

img {
	vertical-align: bottom;
	border: 0;
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0;
}		

h1 {
    font-family: $fontSecondary;
    color: $colorPrimary;
    font-weight: normal;
}

h2 {
    color: $colorSecondary;
}

th, td {
	vertical-align: top;
	text-align: left;
	padding: 4px;
}
