
@import 'app/shared/scss/base';

/* Elements */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: $mainFontSize;
    color: $colorWhite;
    line-height: 1.1rem;
}

body, textarea, select, input {
	font-family: $mainFonts;
}

textarea, select, input {
	font-size: 1em;
	padding: 3px 4px;
}

input[type="number"] {
	width: 3rem;
}

textarea {
	overflow: auto;
	height: 3.5em;
}

button {
	cursor: pointer;
}

a {
	color: $colorLink;
	text-decoration: underline;
}

img {
	vertical-align: bottom;
	border: 0;
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0;
}		

h1 {
    color: $colorPrimary;
}

h2 {
    color: $colorSecondary;
}

table {
	th, td {
		vertical-align: top;
		text-align: left;
		padding: 4px;
	}
}

@import 'app/shared/scss/notifications';
@import 'app/shared/scss/form-validation';
